<div class="container">
    <div class="colors">
      <div class="text" appDropDown>
        <span>Color</span>
        <i *ngIf="isAdmin()"  class='bx bx-chevron-down arrow'></i>
        <i appStoppropagation class='bx bx-plus plus' data-bs-toggle="modal" data-bs-target="#addColorModal"></i>

      </div>
      <div id="color-box">
        <ul class="color" 
          *ngFor="let color of colors"
          (click)="setCurrentColor(color)"
          [class]="getCurrentColorClass(color)"
          routerLink="/cars/color/{{color.id}}">
          <li>{{color.colorName}}</li>
          <i  appStoppropagation data-bs-toggle="modal" data-bs-target="#updateColorModal" class='bx bxs-pencil pen'></i>
          <i  appStoppropagation (click)="deleteColor(color)" class='bx bx-minus minus'></i>
        </ul>
      </div>
    </div>
  </div>





  
<div class="modal" tabindex="-1" id="addColorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light">Add a Color</h5>
        <button type="button" class="btn-close text-bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0 d-flex justify-content-center align-items-center">
          <app-color-add></app-color-add>
      </div>
      <div class="modal-footer gold-footer p-3">
      </div>
    </div>
  </div>
</div>


  <div class="modal" tabindex="-1" id="updateColorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light">Update a Color</h5>
        <button type="button" class="btn-close text-bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0 d-flex justify-content-center align-items-center">
          <app-color-update [colorId]="colorId"></app-color-update>
      </div>
      <div class="modal-footer gold-footer p-3">
      </div>
    </div>
  </div>
</div>