<div class="row">
    <div class="col-md-6">
        <h1>Car Rental</h1>
        <h4 routerLink="home">Home</h4>
    </div>
    <div class="col-md-6" style="padding: 10px; position: relative; left: 450px;">
        <a routerLink="cardetails"><button style="margin: 10px;" type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button></a>
        <a routerLink="login"><button style="margin: 10px;" type="button" class="btn btn-outline-success">Login</button></a>
        <a routerLink="register"><button type="button" class="btn btn-outline-success">Register</button></a>
    </div>
    

</div>

