
<div class="wrapper">
    <form [formGroup]="rentForm" class="form">
        <div class="section">
            <div class="box">
                <label class="text">Rent Date</label>
                <input type="date" formControlName="rentDate">
            </div>
            <div class="box">
                <label class="text">Return Date</label>
                <input type="date" formControlName="returnDate">
            </div>
            <div class="box">
                <button (click)="rent()" class="btn">Rent</button>
            </div>
        </div>
    </form>
</div>