
<ul class="list-group">
    <div class="mt-1 mb-3">
        <li 
        (click)="getClearCurrentBrand()"
        [class]="getAllBrandClass()"
        routerLink="/cardetails">
        <h5>All Cars</h5>
        </li>
    </div>
</ul>


<ul class="list-group">
    
   <li class="list-group-item"
   (click)="getClearCurrentBrand()">
    <h5>Brands</h5>
    <button routerLink="/brandAdd">+</button>
   </li>


    <li (click) = "setCurrentBrand(brand)"    
    routerLink = "/cars/brand/{{brand.id}}"
    *ngFor = "let brand of brands"  
    [class] = "getCurrentBrandClass(brand)">{{brand.brandName}}
    </li>
</ul>

<br>
<h5 *ngIf="currentBrand">{{currentBrand.brandName}} Selected</h5>

