*{
  padding: 0;
  margin: 0;
}

.prapper{
  display: flex;
  flex-direction: column;

}

.all-cars{
  width: 100%;
  padding: 10px 0 10px 17px;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: thin solid black;
  margin-bottom: 10px;
}

.prapper .brands{
  display: flex;
  align-items: center;
  width: 100%;
}

.brands .brand{
  width: 100%;
  padding: 10px 0 10px 17px;
  list-style-type:none;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: thin solid black;
}

.visibility .brands{
  display: none;
}