<div class="wrapper">
    <form [formGroup]="registerForm">
        <header class="header-top">
            <span class="text">Register</span>
        </header>

        <div class="firstname-box">
            <input type="text" placeholder="firsname..." formControlName="firstName">
        </div>
        <div class="lastname-box">
            <input type="text" placeholder="lastname..." formControlName="lastName">
        </div>
        <div class="email-box">
            <input type="email" placeholder="email..." formControlName="email">
        </div>
        <div class="password-box">
            <input type="password" placeholder="password..." formControlName="password">
        </div>
        <button class="btn" (click)="register()">Register</button>
        <header class="header-bottom">
        </header>
    </form>
</div>