<table class="table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Company</th>
            <th>Color</th>
            <th>Model Year</th>
            <th>Daily Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carDetail of carDetails">
            <td>{{carDetail.brandName}}</td>
            <td>{{carDetail.companyName}}</td>
            <td>{{carDetail.colorName}}</td>
            <td>{{carDetail.modelYear}}</td>
            <td>{{carDetail.dailyPrice}}</td>
            <td>{{carDetail.description}}</td>
        </tr>
    </tbody>
</table>