




ul{
  border-style: solid;
  border-width:1px;
  width: 250px;
  height: 250px;
  display: inline-table;
  margin: 20px 20px;
}

ul li img{
  
  width: 240px;
  min-height: 200px;
  background-size: 200px;
  
  
}


button{
  position: relative;
  left: 90px;
  margin: 10px;
}




