<form [formGroup]="brandAddForm">
    <div id="box1">
        <h5 style="position: relative; top:15px; left: 10px;">Add a brand</h5>
        <div id="box2">
            <h6>Brand :</h6>
            <input style="border-radius: 4px; height: 35px;" type="text" formControlName="brandName">
        </div>
        <div id="box3">
            <h6>Model :</h6>
            <input style="border-radius: 4px; height: 35px;" type="text" formControlName="model"> 
        </div>
        <button (click)="add()">Add</button>
    </div>
</form>