<div class="wrapper">
    <form [formGroup]="creditCardForms" class="form">
        <div class="section">
            <div class="box">
                <label class="text">My registered cards</label>
                <select (change)="getCardInfo($event)">
                    <option [value]="0">Save cards</option>
                    <option [value]="saveCard.id" *ngFor="let saveCard of saveCards">{{saveCard.nameOnTheCard}}</option>
                </select>
            </div>
            <div class="box">
                <label class="text">Card Number</label>
                <input type="number" formControlName="cardNumber" min="16" max="16" >
            </div>
            <div class="box">
                <label class="text">Date Month</label>
                <input type="number" formControlName="dateMonth">
            </div>
            <div class="box">
                <label class="text">Date Year</label>
                <input type="number" formControlName="dateYear">
            </div>
            <div class="box">
                <label class="text">Name on the card</label>
                <input type="text" formControlName="nameOnTheCard">
            </div>
            <div class="box">
                <label class="text">Cvv</label>
                <input type="text" formControlName="cvv">
            </div>
            <div class="pay-box">
                <div (click)="saveCreditCard()"  class="check-box"></div>
                <button class="pay-btn" type="submit" (click)="payAdd()">Pay</button>
                <span class="pay-text">{{price | currency}}</span>
            </div>
        </div>
    </form>
</div>

<input type="checkbox">
