#box1{
    border-style: solid;
    border-color: rgb(101, 101, 101);
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 190px;
    left: 570px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 20px 20px 15px rgb(63, 63, 63);
    
   
}

#box2{
    
    position: absolute;
    left: 50px;
    bottom: 70px;

}

button{
    border-style: solid;
    width: 150px;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: large;
    position: relative;
    top: 120px;
    left: 70px;
}