
<div class="container">
        <app-navi></app-navi>
    <hr>
    <div class="row p-0 m-0">
        <div class="col-12 col-md-3" style=" margin: 0px; padding: 0px;">
                <app-brand></app-brand>
                <br>
                <app-color></app-color>
                <br>
                <app-statu></app-statu>
        </div>
        <div class="col-12 col-md-9" style=" margin: 0px; padding: 0px;">
            <router-outlet></router-outlet>
        </div> 
    </div>
    <hr style="margin-top: 200px;">
</div>

