<div class="wrapper">
    <form [formGroup]="loginForm">
        <header class="header-top">
            <span class="text">Login</span>
        </header>
        <div class="email-box">
            <input type="email" placeholder="email..." formControlName="email">
        </div>
        <div class="password-box">
            <input type="password" placeholder="password..." formControlName="password">
        </div>
        <button class="btn" (click)="login()">Login</button>
        <header class="header-bottom">
        </header>
    </form>
</div>