
button{
    border-style: solid;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background-color: rgb(3, 21, 139);
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

#box1{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin: auto;
}

div{
    position: relative;
    left: 100px;
    top: 60px;
}

