<form [formGroup]="carsForm">
    <div id="box1">
        <div>
            <label>Brand</label><br>
            <select class="form-group" formControlName="brandId">
                <option [ngValue]="brand.id" *ngFor="let brand of brands">{{brand.brandName}}</option>
            </select>
        </div>
    
        <div>
            <label>Color</label><br>
            <select class="form-group" formControlName="colorId">
                <option [ngValue]="color.id" *ngFor="let color of colors">{{color.colorName}}</option>
            </select>
        </div>
    
        <div>
            <label>Model</label><br>
            <select class="form-group" formControlName="brandModelId">
                <option [ngValue]="brandModel.id" *ngFor="let brandModel of brandModels">{{brandModel.model}}</option>
            </select>
        </div>

        <div>
            <label>Model Year</label><br>
            <input type="number" formControlName="modelYear">
        </div>

        <div>
            <label>Daily Price</label><br>
            <input type="number" formControlName="dailyPrice">
        </div>
    
        <div>
            <label>Description</label><br>
            <input type="text" formControlName="description">
        </div>

        <button (click)="update()" class="btn btn-outline-success">Update</button>
    </div>
</form>