<form [formGroup]="carsForm">
    <div class="boxs">
        <div class="box">
            <h4>Brand</h4>
            <select class="form-group" formControlName="brandId" (change)="getBrandModelsByBrandId($event)">
                <option [value]="brand.id" *ngFor="let brand of brands">{{brand.brandName}}</option>
            </select>
        </div>
        <div class="box">
            <h4>Model</h4>
            <select  class="form-group" formControlName="brandModelId">
                <option [value]="carModel.id" *ngFor="let carModel of brandModels">{{carModel.model}}</option>
            </select>
        </div>
        <div class="box">
            <h4>Color</h4>
            <select class="form-group" formControlName="colorId">
                <option [value]="color.id" *ngFor="let color of colors">{{color.colorName}}</option>
            </select>
        </div>
        <div class="box">
            <h4>Model Year</h4>
            <input type="number" formControlName="modelYear">
        </div>
        <div class="box">
            <h4>Daily Price</h4>
            <input type="number" formControlName="dailyPrice">
        </div>
        <div class="box">
            <h4>Description</h4>
            <input type="text" formControlName="description">
        </div>
        <button (click)="update()">Update</button>
    </div>
</form>
