.section{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper{
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.wrapper .image-box{
    width: 100%;
    height: 100%;
}

.image-box .carousel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.wrapper i{
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    color: black;
    font-size: 70px;
    font-weight: 500;
    cursor: pointer;
}

.wrapper .left{
    left: 10px;
    z-index: 100;
}

.wrapper .right{
    right: 10px;
    z-index: 11;
}

.section .card-content{
    max-width: 800px;
    width: 100%;
}

.card-content .content{
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.content li{
    list-style-type: none;
    padding: 7px;
    width: 100%;
    border: thin solid #343434;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-indent: 10px;
}

.content b{
    font-size: 19px;
}

.btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.active{
    display: none;
}


.btn-box .user button,
.btn-box .admin button{
    width: 300px;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    border: thin solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s linear;
}

.user button:disabled{
    background-color: red;
}


.btn-box .admin button:hover{
    background-color: #124e78;
    color: #fff;
}

.btn-box .admin button{
    margin: 0 10px;
}


.gold-footer{
    background-color: #efb810;
}
