

<div class="section">
  <div id="carouselExampleAutoplaying" class="carousel slide wrapper" data-bs-ride="carousel">
      <div class="carousel-inner image-box" *ngFor="let carDetail of carDetails">
        <div class="carousel-item active car-images" *ngFor="let image of carImagePaths">
          <img class="image d-block w-100" [src]="image.imagePath.length !== 0 ? imageUrl + image.imagePath : imageUrl + noPhotoUrl">
        </div>  
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  <div class="card-content">
    <div class="content"  *ngFor="let carDetail of carDetails">
      <li><b id="model">{{carDetail.brandName}}  {{carDetail.model}}</b><br> <span id="description">{{carDetail.description}}</span></li>
      <li><b>Color : </b>{{carDetail.colorName}}</li>
      <li><b>Model Year : </b>{{carDetail.modelYear}}</li>
      <li><b>Daily Price : </b>{{carDetail.dailyPrice}}</li>
      <li><b>Statu : </b>{{carDetail.isRentable ? "Avaible" : "Not Avaible"}}</li>
      
      <div class="btn-box">
        <div class="user" *ngIf="!isAuthenticated()">
          <button (click)="rentCarId()" [disabled]="carDetail?.isRentable !== true">Rent this car</button>
        </div>
        <div class="admin" *ngIf="isAdmin()">          
          <button data-bs-toggle="modal" data-bs-target="#add"><i class='bx bx-plus-medical'></i></button>
          <button (click)="update()"><i class='bx bxs-pencil'></i></button>
          <button (click)="delete()"><i class='bx bx-minus'></i></button>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal" tabindex="-1" id="add">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <app-car-add></app-car-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



