
#box1{
    border-style: solid;
    border-width: 1px;
    width: 500px;
    margin: auto;
    
}

#box2{
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    width: 500px;
    text-indent: 10px;
}

#box3{
    border-style: solid;
    border-width: 0px;
    width: 500px;
    height: 70px;
}

img{
    width: 500px;
}


ul{
    border-style: solid;
    list-style-type: none;
    border-width: 0px;
    border-color: rgb(195, 195, 195);
}

li{
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    text-indent: 10px;
}

button{
    width: 100px;
    position: relative;
    left: 180px;
    bottom: 6px;
}