.section{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper{
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 380px;
    overflow: hidden;
    border: 3px solid #fff;

}

.wrapper .image-box{
    width: 100%;
    height: 100%;
}

.image-box .carousel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.wrapper i{
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    color: rgb(255, 255, 255);
    border: 2px solid #fff;
    backdrop-filter: blur(5px);
    background-color: transparent;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}

.wrapper .left{
    left: 10px;
    z-index: 100;
}

.wrapper .right{
    right: 10px;
    z-index: 11;
}

.section .card-content{
    max-width: 800px;
    width: 100%;
    max-height: 380px;
}

.card-content .content{
    width: 100%;
    height: 100%;
    background-color: #708d81;

}

.content .content-box{
    width: 100%;
    height: 100%;
}

.content-box li{
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    list-style: none;
    text-indent: 15px;
    padding: 8px;
}

.btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50deg);

    width: 100%;
    height: 60px;
    padding: 10px;
}

.btn-box .user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.user button{
    width: 100%;
    padding: 8px;
    background:none;
    border: 2px black;
}


.active{
    display: none;
}


.btn-box .admin button{
    width: 80px;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    border: thin solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s linear;
}

.user button:disabled{
    background-color: red;
}


.btn-box .admin button:hover{
    background-color: #124e78;
    color: #fff;
}

.btn-box .admin button{
    margin: 0 10px;
}


.gold-footer{
    background-color: #efb810;
}

