<div class="container">
    <div class="status">
      <div class="text" appDropDown (click)="notActive()" (click)="allStatu()">
        <span>Statu</span>
        <i class='bx bx-chevron-down arrow'></i>
      </div>
      <div id="statu-box">
        <ul class="statu" 
            *ngFor="let statu of status"  
            (click)="setCurrentStatu(statu)"
            [class]="isActive(statu)"
            routerLink="/cars/statu/{{statu.statuId}}">
            <li>
                {{statu.statuName}}
            </li>
        </ul>
      </div>
    </div>
  </div>


